{% extends "AdminBundle:Layouts:master.html.twig" %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="span12">
                <h3>Gestion des utilisateurs</h3>
                <p><a href="{{ path("admin_users_new") }}">Enregistrer un nouvel utilisateur <i class="icon-chevron-right"></i></a></p>
                {% if entities|length > 0 %}
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Pseudo</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Actif</th>
                        <th>Bloqué</th>
                        <th>Role</th>
                        <th>Promouvoir/Dégrader</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.id }}</td>
                            <td>{{ entity.username }}</td>
                            <td>{{ entity.reelLastname }}</td>
                            <td>{{ entity.reelFirstname }}</td>
                            {% if entity.isActive %}
                                <td>oui | <a href="{{ path("admin_users_deactivate", {"id":entity.id}) }}">Désactiver</a></td>
                            {% else %}
                                <td>non | <a href="{{ path("admin_users_activate", {"id":entity.id}) }}">Activer</a></td>
                            {% endif %}
                            {% if entity.accountLocked %}
                                <td>oui | <a href="{{ path("admin_users_unlock",{"id":entity.id}) }}">Débloquer</a></td>
                            {% else %}
                                <td>non | <a href="{{ path("admin_users_lock",{"id":entity.id}) }}">Bloquer</a></td>
                            {% endif %}
                            {% if entity.isAdmin %}
                                <td>Administrateur</td>
                            {% elseif entity.isUser %}
                                <td>Utilisateur</td>
                            {% elseif entity.isVisitor %}
                                <td>Visiteur</td>
                            {% endif %}
                            <td><a href="{{ path("admin_users_promote_demote", {"id":entity.id}) }}">Aller</a></td>
                            <td><a href="{{ path("admin_users_show", {"id":entity.id}) }}">Voir</a> | <a href="{{ path("admin_users_edit", {"id":entity.id}) }}">Editer</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                {% else %}
                    <p class="well">Pas d'utilisateurs enregistrées.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
