{% extends "AdminBundle:Layouts:master.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row" id="colors">
            <div class="span12">
                <h3>Gestion des couleurs</h3>
                <p><a href="{{ path("admin_misc_color_new") }}">Créer une couleur <i class="icon-chevron-right"></i></a></p>
                {% if colors|length > 0 %}
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Couleur du texte</th>
                        <th>Couleur de fond</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for color in colors %}
                        <tr>
                            <td>{{ color.id }}</td>
                            <td style="background-color: {{ "#"~color.background }}; color: {{ "#"~color.foreground }};">{{ color.name }}</td>
                            <td>{{ color.foreground }}</td>
                            <td>{{ color.background }}</td>
                            <td><a href="{{ path("admin_misc_color_show", {"id":color.id}) }}">Voir</a> | <a href="{{ path("admin_misc_color_edit", {"id":color.id}) }}">Editer</a></td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p class="well">Pas de couleurs enregistrées.</p>
                {% endif %}

            </div>
        </div>
        <div id="eventtypes" class="row">
            <div class="span12">
                <h3>Gestion des types d'événement</h3>
                <p><a href="{{ path("admin_misc_event_types_new") }}">Créer un type d'événement <i class="icon-chevron-right"></i></a></p>
                {% if event_types|length > 0 %}
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Slug</th>
                        <th>Couleur</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for evt in event_types %}
                    <tr>
                        <td>{{ evt.id }}</td>
                        <td>{{ evt.name }}</td>
                        <td>{{ evt.slug }}</td>
                        {% if evt.color != null %}
                            <td style="background-color: {{ "#"~evt.color.background }}; color: {{ "#"~evt.color.foreground }};">{{ evt.color.name }}</td>
                        {% else %}
                            <td>&nbsp;</td>
                        {% endif %}
                        <td><a href="{{ path("admin_misc_event_types_show", {"id":evt.id}) }}">Voir</a> | <a href="{{ path("admin_misc_event_types_edit", {"id":evt.id}) }}">Editer</a></td>
                    </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                {% else %}
                    <p class="well">Pas de types d'événement enregistrés.</p>
                {% endif %}
            </div>
        </div>
        <div id="houses" class="row">
            <div class="span12">
                <h3>Gestion des bâtiments</h3>
                <p><a href="{{ path("admin_misc_houses_new") }}">Créer un bâtiment <i class="icon-chevron-right"></i></a></p>
                {% if houses|length > 0 %}
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for bat in houses %}
                            <tr>
                                <td>{{ bat.id }}</td>
                                <td>{{ bat.name }}</td>
                                <td><a href="{{ path("admin_misc_houses_show", {"id":bat.id}) }}">Voir</a> | <a href="{{ path("admin_misc_houses_edit", {"id":bat.id}) }}">Editer</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="well">Pas de bâtiments enregistrés.</p>
                {% endif %}
            </div>
        </div>
        <div id="enclosures" class="row">
            <div class="span12">
                <h3>Gestion des enclos</h3>
                <p><a href="{{ path("admin_misc_enclosures_new") }}">Créer un enclos <i class="icon-chevron-right"></i></a></p>
                {% if enclosures|length > 0 %}
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Bâtiment</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for enclos in enclosures %}
                            <tr>
                                <td>{{ enclos.id }}</td>
                                <td>{{ enclos.name }}</td>
                                <td>{{ enclos.house.name }}</td>
                                <td><a href="{{ path("admin_misc_enclosures_show", {"id":enclos.id}) }}">Voir</a> | <a href="{{ path("admin_misc_enclosures_edit", {"id":enclos.id}) }}">Editer</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="well">Pas d'enclos enregistrés.</p>
                {% endif %}
            </div>
        </div>
        <div id="iucn" class="row">
            <div class="span12">
                <h3>Liste <abbr title="Union internationale pour la conservation de la nature">IUCN</abbr></h3>
                {% if iucns|length > 0 %}
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Initiales</th>
                        <th>Nom Anglais</th>
                        <th>Nom français</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for iucn in iucns %}
                        <tr>
                            <td>{{ iucn.initial }}</td>
                            <td>{{ iucn.name }}</td>
                            <td>{{ iucn.name_fr }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p class="well">Status <abbr title="Union internationale pour la conservation de la nature">IUCN</abbr> non configurés.</p>
                {% endif %}
            </div>
        </div>
        <div id="sexes" class="row">
            <div class="span12">
                <h3>Liste des sexes</h3>
                {% if sexes|length > 0 %}
                    <p>{{ sexes|join(", ") }}</p>
                {% else %}
                    <p class="well">Sexes non configurés</p>
                {% endif %}
            </div>
        </div>
        <div id="status" class="row">
            <div class="span12">
                <h3>Liste des status</h3>
                {% if status|length > 0 %}
                    <p>{{ status|join(", ") }}</p>
                {% else %}
                    <p class="well">status non configurés</p>
                {% endif %}
            </div>
        </div>
        <div id="weights" class="row">
            <div class="span12">
                <h3>Gestion des poids</h3>
            </div>
        </div>
    </div>
{% endblock %}
