{% extends "AdminBundle:Layouts:master.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="span12">
                <h3 class="text-center">Couleur "{{ entity.name }}"</h3>
            </div>
        </div>
        <div class="row">
            <div class="span6 offset3">
                <ul class="unstyled">
                    <li>Couleur de texte: #{{ entity.foreground }}</li>
                    <li>Couleur de fond: #{{ entity.background }}</li>
                </ul>
                <p style="padding:10px;background-color: {{ "#"~entity.background }}; color: {{ "#"~entity.foreground }};">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, laboriosam magni. Accusantium
                    asperiores blanditiis cum dolor eligendi ex ipsa maiores maxime mollitia nemo officia, quisquam
                    ratione tempore vel, voluptas voluptatem.</p>
                <a href="{{ path("admin_misc_color_edit", {"id":entity.id}) }}" class="btn btn-primary">Editer <i class="icon-chevron-right  icon-white"></i></a>
            </div>
        </div>
    </div>
{% endblock %}
